In [1]:
import pandas as pd

In [2]:
df= pd.read_excel('fintech_dataset.xlsx')

In [3]:
df

,Customer_ID,Annual_Income,Credit_Score,Loan_Amount,Loan_Term,Number_of_Late_Payments,Default
0,1,71433,694,19710,24,1,0
1,2,77851,514,28006,48,3,1
2,3,36751,640,38914,48,3,1
3,4,73331,574,3062,24,8,0
4,5,72197,741,15616,12,4,1
...,...,...,...,...,...,...,...
495,496,36511,638,11319,12,0,1
496,497,94425,569,13730,60,7,1
497,498,67752,848,19382,12,7,0
498,499,71550,725,2811,60,4,0
499,500,21401,502,45900,12,2,1

In [4]:
df.isnull().sum()

Customer_ID                0
Annual_Income              0
Credit_Score               0
Loan_Amount                0
Loan_Term                  0
Number_of_Late_Payments    0
Default                    0
dtype: int64

In [5]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics  import accuracy_score,classification_report ,confusion_matrix
import seaborn as sns 
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier

In [9]:
df= df.drop(columns='Customer_ID',axis=1)

In [11]:
df

,Annual_Income,Credit_Score,Loan_Amount,Loan_Term,Number_of_Late_Payments,Default
0,71433,694,19710,24,1,0
1,77851,514,28006,48,3,1
2,36751,640,38914,48,3,1
3,73331,574,3062,24,8,0
4,72197,741,15616,12,4,1
...,...,...,...,...,...,...
495,36511,638,11319,12,0,1
496,94425,569,13730,60,7,1
497,67752,848,19382,12,7,0
498,71550,725,2811,60,4,0
499,21401,502,45900,12,2,1

In [13]:
df['Default'].value_counts()

Default
0    250
1    250
Name: count, dtype: int64

In [17]:
X= df.drop(columns='Default',axis=1)
y=df['Default']

In [19]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size= 0.2, random_state= 42)

In [21]:
model = LogisticRegression()

In [23]:
model.fit(X_train, y_train)

LogisticRegression()

In [25]:
y_pred = model.predict(X_train)
training_data_accuracy = accuracy_score(y_pred,y_train)
print('Accuracy on training data is:',training_data_accuracy)

Accuracy on training data is: 0.5375

In [43]:
y_pred= model.predict(X_test)
test_data_accuracy = accuracy_score(y_pred, y_test)
print('Accuracy on test data is :' ,test_data_accuracy)
print(confusion_matrix(y_test,y_pred))
print('Classification Report:\n', classification_report(y_test, y_pred))

Accuracy on test data is : 0.51
[[25 24]
 [25 26]]
Classification Report:
               precision    recall  f1-score   support

           0       0.50      0.51      0.51        49
           1       0.52      0.51      0.51        51

    accuracy                           0.51       100
   macro avg       0.51      0.51      0.51       100
weighted avg       0.51      0.51      0.51       100

In [29]:
rf_model = RandomForestClassifier(n_estimators=100, random_state=42)
rf_model.fit(X_train,y_train)

RandomForestClassifier(random_state=42)

In [45]:
y_pred= rf_model.predict(X_test)
print('Accuarcy:',accuracy_score(y_pred,y_test))
print('Confusion_matrix', confusion_matrix(y_test,y_pred))
print('Classification Report:\n', classification_report(y_test, y_pred))

Accuarcy: 0.5
Confusion_matrix [[21 28]
 [22 29]]
Classification Report:
               precision    recall  f1-score   support

           0       0.49      0.43      0.46        49
           1       0.51      0.57      0.54        51

    accuracy                           0.50       100
   macro avg       0.50      0.50      0.50       100
weighted avg       0.50      0.50      0.50       100

In [47]:
dt_model = DecisionTreeClassifier()
dt= dt_model.fit(X_train, y_train)

In [49]:
y_pred = dt.predict(X_test)
print('Accuracy', accuracy_score(y_test, y_pred))
print('Confusion_matrix',confusion_matrix(y_test,y_pred))
print('Classification Report:\n',classification_report(y_test,y_pred))

Accuracy 0.53
Confusion_matrix [[25 24]
 [23 28]]
Classification Report:
               precision    recall  f1-score   support

           0       0.52      0.51      0.52        49
           1       0.54      0.55      0.54        51

    accuracy                           0.53       100
   macro avg       0.53      0.53      0.53       100
weighted avg       0.53      0.53      0.53       100